*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins',sans-serif;
    background-color: rgb(2, 2, 58);
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(28, 28, 94);
    height: 70px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a button{
    text-decoration: none;
    color: white;
    background-color: rgb(28, 28, 94);
    border: 1px solid white;
    height: 35px;
    width: 70px;
}
nav ul li a:hover{
    color: rgb(82, 82, 196);
    font-size: 1.06rem;
}
.aa{
    font-size: 1.5rem;
}
.sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec1{
    font-size: 2rem;
    margin: 200px 0;
}
.sec2 img{
    height: 350px;
    margin: 86px auto;
}
.zain{
    color: rgb(170, 107, 228);
}
#element{
    color: rgb(170, 107, 228);
}
