.zain {
    background-color: rgb(65, 60, 60);
    color: azure;
    font-size: xx-large;
    height: 200px;
    padding-left: 30px;
    padding-top: 30px;
}

.zain01 {
    font-size: medium;
}

.zain02 {
    height: 60px;
    width: 200px;
    background-color: rgb(25, 180, 95);
    color: white;
    font-size: medium;
    margin-top: 20px;
    border-radius: 7px;
    border-color: rgb(65, 60, 60);
}