.z01 {
    background-color: rgb(29, 29, 209);
    height: 400px;
    width: 500px;
    border: 3px solid black;

}

#name, #username, #password, #quantity, #email {
    width: 400px;
    margin-left: 33px;
    height: 25px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

#button {
    width: 435px;
    margin-left: 33px;
    color: white;
    background-color: red;
    height: 38px;
    margin-top: 15px;
}